body {
    display: flex;
    flex-direction: column;
}

#navbar {
    width: 1;
    height: 150px;
}

#service1,
#service4,
#service5 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#service2 {
    margin-left: 493px;
}

#service3 {
    margin-left: 493px;
}

#servic4 {
    margin-bottom: 40px;
}

.reservation {
    position: absolute;
    top: 900px;
    left: 1200px;
}