body {
    display: flex;
    flex-direction: column;
}

#navbar {
    margin-top: 10px;
    width: 1400px;
    height: 100px;
}

#service1,
#service5 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#service2,
#service3,
.mainView {
    margin-left: 140px;
}

#servic4 {
    margin-bottom: 40px;
}

.reservation {
    position: absolute;
    top: 900px;
    left: 867px;
}